<div class="container mt-5">
  <h3 class="text-center">Welcome to my web application!👋</h3>
  <p>This is a simple table view that allows you to see and manage data in a user-friendly way. You can sort, filter, and customize the columns to show only the information you need. This application was built using Angular, a popular framework for building dynamic web applications. I used Bootstrap, a widely used front-end framework, to help with styling and layout, and DevExtreme, a set of responsive and feature-rich UI widgets, to enhance the user experience. Feel free to explore and try out different features. If you have any feedback or suggestions, please let me know. I hope you find this application useful!</p>
</div>

